.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.signup > form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: 100%;
  max-width: 300px;
}

.signup > form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.signup > form > div > input {
  display: block;
  width: 100%;
  font: 1rem Verdana, sans-serif;
  padding: 5px 8px;
  border-radius: 0.25rem;
}
